# Optional: replace this after deploying your own GenLayer contract
VITE_GENLAYER_CONTRACT_ADDRESS=0x650BCb1A0fa0cb57122338BAa07eac0F98EEf460
GENLAYER_CONTRACT_ADDRESS=0x650BCb1A0fa0cb57122338BAa07eac0F98EEf460
